.login {
    .login-form {
        display        : flex;
        justify-content: center;
        align-items    : center;
        height         : 100vh;
        flex-direction : column;
        gap            : 30px;

        .btn-quaternary {
            background-color: #9C69E2;
            font-size       : 1rem;
            font-weight     : 600;
            line-height     : 1rem;
            padding-left    : 30px;
            padding-right   : 30px;
            height          : 40px;
            border-radius   : 9999px;
            width           : 400px;
            color           : #fff;
        }
    }


}